* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  /* width: 90%; */
}
.container {
  display: flex;
  height: 100vh;
}
.left-section {
  /* width: max-content; */
  /* width: 50rem; */
  /* width: 60%; */
  /* width: 80rem; */
  margin-top: -9rem;
  margin-left: 5rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* max-width: 70%; */
  -webkit-animation-name: left-section;
  animation-name: left-section;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.right-section {
  flex: 1;
  background: linear-gradient(to right, #f50629 0%, #fd9d08 100%);
  transition: 0.05s;
  background-image: url(https://www.partselect.com/assets/content/58702/laundry-cheat-sheet-open-graph.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header > h1 {
  margin: 0;
  color: #f50629;
}
.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.form > p {
  text-align: right;
}
.form > p > a {
  color: #000;
  font-size: 14px;
}
.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  outline: 0;
  transition: 0.04s;
  margin-top: 20px;
}
.form-field:focus {
  border-color: #0f7ef1;
}
.log {
  margin-top: 20px;
}
.sign {
  margin-top: 39px;
}
.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #f50629 0%, #fd9d08 100%);
  border-radius: 3px;
  /* margin-top: 32px; */
  color: #fff;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
}

.animation {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.a1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.a2 {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.a3 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.a4 {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.a5 {
  margin-top: 15px;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.a6 {
  /* padding-top: 30px; */
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.a7 {
  /* margin-top: -10px; */
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes left-section {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 460px;
  }
}
